# --- tiki-main specific ignores ---
tiki-main/node_modules
tiki-main/.pnp
tiki-main/.pnp.js
tiki-main/.yarn/install-state.gz

# testing for tiki-main
tiki-main/coverage

# next.js
tiki-main/.next/
tiki-main/out/

# production build output
tiki-main/build

# misc
tiki-main/.DS_Store
tiki-main/*.pem

# debug
tiki-main/npm-debug.log*
tiki-main/yarn-debug.log*
tiki-main/yarn-error.log*

# local env files for tiki-main
tiki-main/.env*.local

# vercel
tiki-main/.vercel

# typescript
tiki-main/*.tsbuildinfo
tiki-main/next-env.d.ts


# --- be-tiki specific ignores ---
be-tiki/api-gateway/node_modules/
be-tiki/identity-service/node_modules/
be-tiki/notification-service/node_modules/
be-tiki/payment-service/node_modules/
be-tiki/product-service/node_modules/

# compiled output for be-tiki
be-tiki/api-gateway/dist
be-tiki/identity-service/dist
be-tiki/notification-service/dist
be-tiki/payment-service/dist
be-tiki/product-service/dist
be-tiki/api-gateway/build
be-tiki/identity-service/build
be-tiki/notification-service/build
be-tiki/payment-service/build
be-tiki/product-service/build

# Logs
be-tiki/api-gateway/logs
be-tiki/identity-service/logs
be-tiki/notification-service/logs
be-tiki/payment-service/logs
be-tiki/product-service/logs
be-tiki/api-gateway/*.log
be-tiki/identity-service/*.log
be-tiki/notification-service/*.log
be-tiki/payment-service/*.log
be-tiki/product-service/*.log
be-tiki/api-gateway/npm-debug.log*
be-tiki/identity-service/npm-debug.log*
be-tiki/notification-service/npm-debug.log*
be-tiki/payment-service/npm-debug.log*
be-tiki/product-service/npm-debug.log*
be-tiki/api-gateway/pnpm-debug.log*
be-tiki/identity-service/pnpm-debug.log*
be-tiki/notification-service/pnpm-debug.log*
be-tiki/payment-service/pnpm-debug.log*
be-tiki/product-service/pnpm-debug.log*
be-tiki/api-gateway/yarn-debug.log*
be-tiki/identity-service/yarn-debug.log*
be-tiki/notification-service/yarn-debug.log*
be-tiki/payment-service/yarn-debug.log*
be-tiki/product-service/yarn-debug.log*
be-tiki/api-gateway/yarn-error.log*
be-tiki/identity-service/yarn-error.log*
be-tiki/notification-service/yarn-error.log*
be-tiki/payment-service/yarn-error.log*
be-tiki/product-service/yarn-error.log*
be-tiki/api-gateway/lerna-debug.log*
be-tiki/identity-service/lerna-debug.log*
be-tiki/notification-service/lerna-debug.log*
be-tiki/payment-service/lerna-debug.log*
be-tiki/product-service/lerna-debug.log*

# OS
be-tiki/api-gateway/.DS_Store
be-tiki/identity-service/.DS_Store
be-tiki/notification-service/.DS_Store
be-tiki/payment-service/.DS_Store
be-tiki/product-service/.DS_Store

# Tests
be-tiki/api-gateway/coverage
be-tiki/identity-service/coverage
be-tiki/notification-service/coverage
be-tiki/payment-service/coverage
be-tiki/product-service/coverage
be-tiki/api-gateway/.nyc_output
be-tiki/identity-service/.nyc_output
be-tiki/notification-service/.nyc_output
be-tiki/payment-service/.nyc_output
be-tiki/product-service/.nyc_output

# IDEs and editors
be-tiki/api-gateway/.idea
be-tiki/identity-service/.idea
be-tiki/notification-service/.idea
be-tiki/payment-service/.idea
be-tiki/product-service/.idea
be-tiki/api-gateway/.project
be-tiki/identity-service/.project
be-tiki/notification-service/.project
be-tiki/payment-service/.project
be-tiki/product-service/.project
be-tiki/api-gateway/.classpath
be-tiki/identity-service/.classpath
be-tiki/notification-service/.classpath
be-tiki/payment-service/.classpath
be-tiki/product-service/.classpath
be-tiki/api-gateway/.c9/
be-tiki/identity-service/.c9/
be-tiki/notification-service/.c9/
be-tiki/payment-service/.c9/
be-tiki/product-service/.c9/
be-tiki/api-gateway/*.launch
be-tiki/identity-service/*.launch
be-tiki/notification-service/*.launch
be-tiki/payment-service/*.launch
be-tiki/product-service/*.launch
be-tiki/api-gateway/.settings/
be-tiki/identity-service/.settings/
be-tiki/notification-service/.settings/
be-tiki/payment-service/.settings/
be-tiki/product-service/.settings/
be-tiki/api-gateway/*.sublime-workspace
be-tiki/identity-service/*.sublime-workspace
be-tiki/notification-service/*.sublime-workspace
be-tiki/payment-service/*.sublime-workspace
be-tiki/product-service/*.sublime-workspace

# IDE - VSCode
be-tiki/api-gateway/.vscode/*
be-tiki/identity-service/.vscode/*
be-tiki/notification-service/.vscode/*
be-tiki/payment-service/.vscode/*
be-tiki/product-service/.vscode/*
!be-tiki/api-gateway/.vscode/settings.json
!be-tiki/identity-service/.vscode/settings.json
!be-tiki/notification-service/.vscode/settings.json
!be-tiki/payment-service/.vscode/settings.json
!be-tiki/product-service/.vscode/settings.json
!be-tiki/api-gateway/.vscode/tasks.json
!be-tiki/identity-service/.vscode/tasks.json
!be-tiki/notification-service/.vscode/tasks.json
!be-tiki/payment-service/.vscode/tasks.json
!be-tiki/product-service/.vscode/tasks.json
!be-tiki/api-gateway/.vscode/launch.json
!be-tiki/identity-service/.vscode/launch.json
!be-tiki/notification-service/.vscode/launch.json
!be-tiki/payment-service/.vscode/launch.json
!be-tiki/product-service/.vscode/launch.json
!be-tiki/api-gateway/.vscode/extensions.json
!be-tiki/identity-service/.vscode/extensions.json
!be-tiki/notification-service/.vscode/extensions.json
!be-tiki/payment-service/.vscode/extensions.json
!be-tiki/product-service/.vscode/extensions.json

# dotenv environment variable files
# be-tiki/api-gateway/.env
# be-tiki/identity-service/.env
# be-tiki/notification-service/.env
# be-tiki/payment-service/.env
# be-tiki/product-service/.env
# be-tiki/api-gateway/.env.development.local
# be-tiki/identity-service/.env.development.local
# be-tiki/notification-service/.env.development.local
# be-tiki/payment-service/.env.development.local
# be-tiki/product-service/.env.development.local
# be-tiki/api-gateway/.env.test.local
# be-tiki/identity-service/.env.test.local
# be-tiki/notification-service/.env.test.local
# be-tiki/payment-service/.env.test.local
# be-tiki/product-service/.env.test.local
# be-tiki/api-gateway/.env.production.local
# be-tiki/identity-service/.env.production.local
# be-tiki/notification-service/.env.production.local
# be-tiki/payment-service/.env.production.local
# be-tiki/product-service/.env.production.local
# be-tiki/api-gateway/.env.local
# be-tiki/identity-service/.env.local
# be-tiki/notification-service/.env.local
# be-tiki/payment-service/.env.local
# be-tiki/product-service/.env.local

# temp directory
be-tiki/api-gateway/.temp
be-tiki/identity-service/.temp
be-tiki/notification-service/.temp
be-tiki/payment-service/.temp
be-tiki/product-service/.temp
be-tiki/api-gateway/.tmp
be-tiki/identity-service/.tmp
be-tiki/notification-service/.tmp
be-tiki/payment-service/.tmp
be-tiki/product-service/.tmp

# Runtime data
be-tiki/api-gateway/pids
be-tiki/identity-service/pids
be-tiki/notification-service/pids
be-tiki/payment-service/pids
be-tiki/product-service/pids
be-tiki/api-gateway/*.pid
be-tiki/identity-service/*.pid
be-tiki/notification-service/*.pid
be-tiki/payment-service/*.pid
be-tiki/product-service/*.pid
be-tiki/api-gateway/*.seed
be-tiki/identity-service/*.seed
be-tiki/notification-service/*.seed
be-tiki/payment-service/*.seed
be-tiki/product-service/*.seed
be-tiki/api-gateway/*.pid.lock
be-tiki/identity-service/*.pid.lock
be-tiki/notification-service/*.pid.lock
be-tiki/payment-service/*.pid.lock
be-tiki/product-service/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
be-tiki/api-gateway/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
be-tiki/identity-service/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
be-tiki/notification-service/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
be-tiki/payment-service/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
be-tiki/product-service/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
